#wrapper form{
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ced4da;
}

#result{
    width: 200px;
    padding-left: .5rem;
    padding-right: .5rem;
}

#timerDisplay{
    width: 200px;
    margin-top: 2rem;
    padding: .5rem;
    border: 1px solid #ced4da;
}
